*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  max-width: 100vw;
  font-family: 'Roboto Mono';
}
body {
  background-color: rgb(240, 240, 240);
}
header {
  z-index: -1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50%;
  background-color: rgb(66, 133, 244);
}
textarea {
  display: block;
  margin: 5vh auto;
  overflow: visible;
  padding: 4vmax;
  width: 80vmax;
  max-width: 98vw;
  height: 90vh;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
textarea, textarea * {
  margin-bottom: 1.5vmax;
  overflow: visible;
  font-size: 1.5vmax;
}